<div class = "card col-sm-12 shadow p-3 mb-5 bg-body rounded">
  <div class = "col-sm-6 pb-2">
    <label class = "pb-2">オプション</label>
    <%= f.text_field :name, class: "form-control"%>
  </div>
  <div class = "col-sm-6 pb-2">
    <h5 class = "mt-1 border-bottom">オプション詳細</h5>
  </div>
  <div class = "col-sm-6 pb-2">
    <label class = "pb-2">公開</label>
    <div class = "form-check form-switch" style="padding: 0px 0px 0px 50px;">
      <%= f.check_box :status, style: "transform: scale(2);", class: "form-check-input"%>
    </div>
  </div>
  <% if f.object.new_record? %>
    <div class = "col-sm-6 pb-2">
      <label class="pb-2">サイズ</label>
      <%= f.select :car_size_id, options_for_select(CarSize.all.pluck(:name, :id), f.object.car_size_id), {}, {class: 'form-select'}%>
    </div>
    <div class = "col-sm-6 pb-2">
      <label class="col-sm-6 pb-2">金額</label>
      <%= f.text_field :price, class: "form-control", type: "number"%>
    </div>
  <% else %>
    <div class = "col-sm-6 pb-2">
      <label class="pb-2">サイズ</label>
      <%= f.select :car_size_id, options_for_select(CarSize.all.pluck(:name, :id), f.object.car_size_id), {}, {class: 'form-select', disabled: "disabled"}%>
    </div>
    <div class = "col-sm-6 pb-2">
      <label class="col-sm-6 pb-2">金額</label>
      <%= f.text_field :price, class: "form-control", type: "number", disabled: "disabled"%>
    </div>
  <% end %>
  <div class = "col-sm-6 pb-2">
    <label class = "pb-2">作業時間 (単位:分)</label>
    <%= f.text_field :required_time, class: "form-control", type: "number"%>
  </div>
  <div class = "col-sm-6 pb-2">
    <label class="pb-2">オプション説明</label>
    <%= f.text_field :memo, class: "form-control"%>
  </div>
  <div class = "col-sm-8 pb-2">
    <label class="pb-2">オプション詳細説明</label>
    <%= f.text_area :detail_memo, size: "30x10", class: "form-control"%>
  </div>
</div>
<center class = "pb-5">
  <%= render partial: "components/submit_btn", locals: { f: f }%>
</center>