<main>
  <div class = "col-12 col-md-11 m-auto">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mt-md-5 mt-4 mb-2 border-bottom border-4">
      <div class = "ps-2 fs-3">洗車オプション一覧</div>
      <div class = "d-none d-sm-inline d-md-inline d-lg-inline d-xl-inline d-xxl-inline">
        <%= render partial: "components/new_btn", locals: { label_name: "洗車オプション", path: new_car_wash_option_path(@car_wash_option) }%>
      </div>
      <div class = "d-inline d-sm-none d-md-none d-lg-none d-xl-none d-xxl-none">
        <%= render partial: "components/new_btn", locals: { label_name: "洗車OP", path: new_car_wash_option_path(@car_wash_option) }%>
      </div>
    </div>
    <%= render partial: "components/flash_messages" %>
    <div class = "card col-sm-12 shadow-sm p-3 mb-5 bg-body rounded">
      <table class = "table table table-striped table-sm mb-3">
        <thead>
          <tr>
            <th class ="col-sm-3 px-2"><%= CarWashOption.human_attribute_name(:name)%></th>
            <th class ="col-sm-2"><%= CarWashOption.human_attribute_name(:price)%></th>
            <th class ="col-sm-1 d-none d-sm-table-cell d-md-table-cell d-lg-table-cell d-xl-table-cell d-xxl-table-cell"><%= CarSize.human_attribute_name(:name)%></th>
            <th class ="col-sm-1 d-none d-sm-table-cell d-md-table-cell d-lg-table-cell d-xl-table-cell d-xxl-table-cell">状態</th>
            <th class ="col-sm-1 d-none d-sm-table-cell d-md-table-cell d-lg-table-cell d-xl-table-cell d-xxl-table-cell">作業時間</th>
          </tr>
        </thead>
        <tbody>
          <% @car_wash_options.each do |option| %>
            <tr>
              <td class = "td_vertical_align_middle px-2"><%= option.name %></td>
              <td class = "td_vertical_align_middle"><%= option.price_jpy%></td>
              <td class = "td_vertical_align_middle d-none d-sm-table-cell d-md-table-cell d-lg-table-cell d-xl-table-cell d-xxl-table-cell"><%= option&.car_size&.name%></td>
              <td class = "td_vertical_align_middle d-none d-sm-table-cell d-md-table-cell d-lg-table-cell d-xl-table-cell d-xxl-table-cell"><%= option.status ? "公開" : "非公開"%></td>
              <td class = "td_vertical_align_middle d-none d-sm-table-cell d-md-table-cell d-lg-table-cell d-xl-table-cell d-xxl-table-cell"><%= "#{option.required_time}分"%></td>
              <td class = "td_vertical_align_middle">
                <div class = "btn-group dropstart d-flex flex-row-reverse px-1">
                  <span class = "bi bi-three-dots" aria-expanded="false" data-bs-toggle="dropdown" type="button"  style="color: #black; font-size: 20px"></span>
                  <ul class = "dropdown-menu">
                    <li><%= link_to "閲覧", "#{car_wash_option_path(option.id)}", { method: :get, class: "dropdown-item" }%></li>
                    <li><%= link_to "編集する", "#{edit_car_wash_option_path(option.id)}", { method: :get, class: "dropdown-item", data: { turbo: false } }%></li>
                    <% unless option&.reservation_car_wash_options.present?%>
                      <li><%= button_to "削除", "#{car_wash_option_path(option.id)}", { method: :delete, form: { data: { turbo_confirm: "本当に削除しますか？" }}, class: "dropdown-item" } %></li>
                    <% end %>
                  </ul>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</main>